.bouton{    
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #96E6B3;
    background-color: $ChineseViolet;
    color: $UranianBlue;
    font-size: 1em;
    margin-top: 4px; 
    margin-right: -150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}