.login {

    .textAccroche {
        font-size: 2em;
        color: $UranianBlue;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
              
    }
}

.labelForm {
    margin-bottom: 8px;    
    color: black;
    font-size: 0.8em;
    margin-left: -170px;
}

.labelWarning {
    color: black;
    font-size: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: tomato;    
    height: 35px;
    padding-top: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-shadow: springgreen;
}