@import "../../_settings";

.chiens{  
  
  .chiensList{
    flex: 1;
    flex-wrap: wrap;    
    display: flex;
    flex-direction: row;
  }

  .description {
    margin-left: 15px;
    font-size: 1.2em;
  }
    
}

